@font-face {
    font-family: Roboto;
    src: url("../src/assets/Roboto/Roboto-Regular.ttf");
}

#root {
    background-color: #eef0f4;
    font-family: Roboto;
    width: 100%;
    padding: 2rem;
}
