@font-face {
    font-family: Roboto;
    src: url("../src/assets/Roboto/Roboto-Regular.ttf");
}

#root {
    background-color: #eef0f4;
    display: flex;
    /* justify-content: space-between; */
    font-family: Roboto;
    width: 100%;
    padding: 2rem;
}

.main {
    width: 35%;
    margin: 0 2em 0 0;
}

.main .header {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 1em;
    margin: 0 0 1.5em 0;
    filter: drop-shadow(0 0 0.2em rgb(198, 188, 188));
    border-radius: 20px;
}

.main .header .headerBtn {
    background-color: #eef0f4;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 0.5em 1em;
    width: 45%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.main .header .headerBtn.clear {
    color: red;
    fill: red;
}

.main .header .headerBtn .delete-logo {
    margin: 0 0.5em 0 0;
}
